    .container {
        text-align: center;
        font-size: 1.5em;
        margin-top: 1%;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        background-color: aliceblue;
        padding: 2%;
    }
    
    body {
        background-image: url("../images/codingGlasses.jpg");
        background-size: 100% 800px;
        background-repeat: no-repeat;
        opacity: 0.5;
    }
    
    .word {
        height: 200px;
        width: 100%;
        font-size: 10em;
        text-align: center;
        margin-top: 1%;
        /* font-weight: bold; */
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        background-color: palegreen;
    }
    
    .bottomword {
        height: 200px;
        width: 100%;
        font-size: 10em;
        text-align: center;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        margin-top: 1%;
        background-color: bisque;
    }
    
    @media only screen and (max-width: 600px) {}